textarea:focus,
input:focus {
    outline: none;
}

body {
    width: 600px;
    margin: 0 auto;
    background: blue;
    font-family: cursive;
}

main {
    margin: 50px 0;
}

header {
    text-align: center;
    color: white;
}

h1 {
    letter-spacing: 4px;
    font-size: 40px;
}

section {
    text-align: center;
    color: blue;
    background: white;
    border-radius: 10px;
    padding: 40px 50px;
}

.inputContainer {
    background: #d7d5d5ab;
    border-radius: 10px;
    padding: 15px 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputField {
    padding: 12px;
    width: 70%;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 18px;
}

.addBtn {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background: blue;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.taskContainer {
    background: #d7d5d5ab;
    padding: 15px 10px;
    border-radius: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.itemText {
    color: rgb(21, 21, 21);
    font-size: 18px;
}

.itemBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #09b309;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}